body{
    text-align: center;
}

.contact-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh; /* Full viewport height */
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

form label,
form select,
form input,
form textarea,
form button {
  margin: 10px 0;
}